{%  load static %}
<html>
<head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("a").on('click', function(event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;
          $('html, body').animate({
            scrollTop: $(hash).offset().top-100
          }, 600, function(){
            window.location.hash = hash;
          });
        } 
      });
    });
        
    </script>
    <style>
        body{
            background:#000;
            color:white !important;
            font-size:14px;
            
        }
        .menu{
            margin-top:50px;
            position:fixed;
            width:300px;
            height:100%;
            border-right:1px solid #eee;
            color:white;
        }
        .content{
            position:static;
            top:120px;
            margin-top:120px;
            margin-left:500px;
            width:600px;
            height:1000px;
            font-size:20px !important;
        }
        .title{
            font-family: 'Rubik', sans-serif;
            position:fixed;
            top:0px;
            width:100%;
            height:60px;
/*            text-align: center;*/
            background:#222;
            color:#fff;
        }
        .title>h4{
            padding:12px;
        }
        
        .menu>ul{
            list-style-type: none;
        }
        
        a{  
            color:darkcyan;
            font-size:20px;
            text-decoration: none;
        }
        a:hover{
            color:darkgoldenrod;
            text-decoration: none;
        }
        
        a:active{
           
            text-decoration: none;            
        }
        a:visited{
            text-decoration: none;
        }
        
        #overview{
            padding:50px;
        }
        
    </style>
    
    
</head>
{% block body %}
<body>
    <div class="title">
     <h4>Feedback Analysis Of Tweets</h4>
    </div>
    <div class="menu">
        <ul>
             <li><a href="#overview"> Project Overview</a></li>
             <li><a href="#classifier"> Text Classification System</a></li>
             <li><a href="#textblob">TextBlob</a></li>
             <li><a href="#apli">Applications</a></li>
             <li><a href="#fs">Future Scope</a></li>
             <li><a href="mode">Trained Models</a></li>
             <li><a href="visual/">Feedback Analysis</a></li>
             <li><a href="visual/real">Real time feedback</a></li>
            
        </ul>
    </div>
    
    <div class="content">
        <div id="overview">
            {% load staticfiles %}
            <img src="https://i.imgur.com/gcNcMYK.png" />
        
        </div>
        <hr/>
        <div id="classifier">
           <p> The textblob.classifiers module makes it simple to create custom classifiers. </p> 
           <p>As an example, let’s create a custom sentiment analyzer.</p>
           <p>Loading Data and Creating a Classifier. First we’ll create some training and test data.</p>
            

            <pre>
    >>> train = [
    ...     ('I love this sandwich.', 'pos'),
    ...     ('this is an amazing place!', 'pos'),
    ...     ('I feel very good about these beers.', 'pos'),
    ...     ('this is my best work.', 'pos'),
    ...     ("what an awesome view", 'pos'),
    ...     ('I do not like this restaurant', 'neg'),
    ...     ('I am tired of this stuff.', 'neg'),
    ...     ("I can't deal with this", 'neg'),
    ...     ('he is my sworn enemy!', 'neg'),
    ...     ('my boss is horrible.', 'neg')
    ... ]
    >>> test = [
    ...     ('the beer was good.', 'pos'),
    ...     ('I do not enjoy my job', 'neg'),
    ...     ("I ain't feeling dandy today.", 'neg'),
    ...     ("I feel amazing!", 'pos'),
    ...     ('Gary is a friend of mine.', 'pos'),
    ...     ("I can't believe I'm doing this.", 'neg')
    ... ]
            </pre>
            
            <p>Now we’ll create a Naive Bayes classifier, passing the training data into the constructor.</p>
            <pre>
    >>> from textblob.classifiers import NaiveBayesClassifier
    >>> cl = NaiveBayesClassifier(train)  </pre>
            
            <h2>Loading Data from Files</h2>
            <p>A sample CSV File</p>
            <code>
                I love this sandwich.,pos<br>
                This is an amazing place!,pos<br>
                I do not like this restaurant,neg<br>
            </code>
            
                <p>JSON files should be formatted like so:</p>

            <code>
                [<br>
                    {"text": "I love this sandwich.", "label": "pos"},<br>
                    {"text": "This is an amazing place!", "label": "pos"},<br>
                    {"text": "I do not like this restaurant", "label": "neg"}<br>
                ]
            </code>
            
            
                <p>Then pass the opened file into the constructor.</p>
                
               <pre>
 >>> with open('train.json', 'r') as fp:
 ... cl = NaiveBayesClassifier(fp, format="json")</pre><br>
            
           <h3>Updating Classifiers with New Data</h3>
            <p>
                Use the update(new_data) method to update a classifier with new training data.
            </p>

       <pre>
>>> new_data = [('She is my best friend.', 'pos'),
... ("I'm happy to have a new friend.", 'pos'),
... ("Stay thirsty, my friend.", 'pos'),
... ("He ain't from around here.", 'neg')]
>>> cl.update(new_data)
True
>>> cl.accuracy(test)
1.0 </pre>

          <h3>Feature Extractors </h3>
          <p>  By default, the NaiveBayesClassifier uses a simple feature extractor that indicates which words in the training set are contained in a document.</p>
          <p>
          For example, the sentence “I feel happy” might have the features contains(happy): True or contains(angry): False.
          </p>
            
          <p>  feature extractor can be overwritten by writing our own. A feature extractor is simply a function with document (the text to extract features from) as the first argument. The function may include a second argument, train_set (the training dataset), if necessary.     </p>

          <p>
            The function should return a dictionary of features for document.
          </p>


        <p>For example, let’s create a feature extractor that just uses the first and last words of a document as its features. </p>
 
        <pre>
    >>> def end_word_extractor(document):
    ...     tokens = document.split()
    ...     first_word, last_word = tokens[0], tokens[-1]
    ...     feats = {}
    ...     feats["first({0})".format(first_word)] = True
    ...     feats["last({0})".format(last_word)] = False
    ...     return feats
    >>> features = end_word_extractor("I feel happy")
    >>> assert features == {'last(happy)': False, 'first(I)': True} </pre>
        
       <p> We can then use the feature extractor in a classifier by passing it as the second argument of the constructor.</p>
            
       <pre>
    >>> cl2 = NaiveBayesClassifier(test, feature_extractor=end_word_extractor)
    >>> blob = TextBlob("I'm excited to try my new classifier.", classifier=cl2)
    >>> blob.classify()
    'pos'</pre>
         
        </div>    
        
        <hr/>
        <br>
        <div id="textblob">
            <p>  TextBlob aims to provide access to common text-processing operations through a familiar interface. You can treat TextBlob objects as if they were Python strings that learned how to do Natural Language Processing.
           </p>
        </div>
  
        <div id="apli">
        <h3>Applications of sentiment analysis</h3>
            <br>
            <ul>
        
            <li>It can be used to give your business valuable insights into how people feel about your product brand or service.
        When applied to social media channels, it can be used to identify spikes in sentiment, thereby allowing you to identify potential product advocates or social media influencers.</li>
            <li>It can be used to identify when potential negative threads are emerging online regarding your business, thereby allowing you to be proactive in dealing with it more quickly.</li>
            <li>Sentiment analysis could also be applied to your corporate network, for example, by applying it to your email server, emails could be monitored for their general “tone”.  For example, Tone Detector is an Outlook Add-in that determines the “tone” of your email as you type.  Like an emotional spell checker for all of your outgoing email.</li>
            <li>Keeping the negative sentiments in mind, one can develop more appealing branding techniques and marketing strategies to switch from torpid to terrific brand status. </li>
        
        </ul>
        
        
           <br><br>
           <h4> Difficulties of Sentiment Analysis</h4>
            
            <ul>
            <li>Cannot detect sarcasm</li>
            <li>opinions can be expressed with sarcasm or irony, and the order of words can add even more confusion.</li>
            <li>Named Entity Recognition - What is the person actually talking about, e.g. is 3 Idiots a group of Idiots or a movie?</li>
            <li> Twitter - abbreviations, lack of capitals, poor spelling, poor punctuation, poor grammar,</li>
                
            </ul>

        </div>
        <hr/>
        <br>
        
        <div id="fs">
        <h3> Future of sentiment Analysis</h3>
         <ul>
        <li>
        Research by Twitter shows that over 80 percent of their users regularly watch video content. When combined with Facebook and Instagram, there are hundreds of millions of videos watched every day.  
        </li>
        <li>
        Users are transitioning from expressing opinions with just text to using pictures and videos. 
            </li>
        <li>
        This creates new programming problems for sentiment analysis developers. Research is now focusing on how to comprehensively analyze emotional polarity expressed through various visual and communication mediums Internet memes.
            </li>
        </ul>
            <br>
            <br>
            <br>
        </div>
    </div>

    
    
</body>
{% endblock %}
</html>